@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-quaternary: var(--quaternary);
}

:root {
  --primary: #F9FAFB;
  --secondary: #3B82F6;
  --tertiary: #09c9c9;
  --quaternary: #45524a;
}

/* Global */

body {
  background: linear-gradient(180deg, var(--secondary) 0%, var(--primary) 50%, var(--secondary) 100%);
  min-height: 100vh;
}

button {
  border-radius: 10px;
  border: 1px;
  border-style: solid;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.button-primary {
  background-color: var(--secondary);
  color: var(--primary);
}

.button-primary:hover {
  background-color: var(--primary);
  color: var(--secondary);
  box-shadow: 0 0 25px 0 var(--tertiary);
}

.button-secondary {
  background-color: var(--primary);
  color: var(--secondary);
}

.button-secondary:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.button-tertiary {
  background-color: var(--tertiary);
  color: var(--secondary);
}

.button-tertiary:hover {
  background-color: var(--secondary);
  color: var(--tertiary);
}

/* Home */
#welcome {
  min-height: 70vh;
  position: relative;
}

#great-experience {
  min-height: 70vh;
  position: relative;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown ul {
  display: none;
  position: absolute;
}

.dropdown:hover ul {
  display: block;
}